body {
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    background-color: #2a5599;
    color: white;
    padding: 5px;
}


.mainView {
    display: flex;
}

.tooltip-text {
    text-align: center;
    font-size: 10px;
}

.horizontal-slider {
    width: 200px;
    left: 100px;
    top: -700px;
    height: 25px;
    background-color: orange;
}

.example-thumb {
    background-color: red;
    min-width: 25px;
}

.example-track {
    height: 25px;
}

.example-track-1 {
    background-color: green;
    height: 25px;
    z-index: 0;
}